@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
    --background: #ffffff;
    --text: #1f2937;
    --primary: #3b82f6;
    /* Tailwind's blue-500 */
    --secondary: #e5e7eb;
    /* Tailwind's gray-200 */
    --accent: #2563eb;
    /* Tailwind's blue-600 */
}

:root[data-theme='dark'] {
    --background: #1f2937;
    /* Tailwind's gray-800 */
    --text: #f9fafb;
    --primary: #1d4ed8;
    /* Tailwind's blue-700 */
    --secondary: #4b5563;
    /* Tailwind's gray-600 */
    --accent: #3b82f6;
    /* Tailwind's blue-500 */
}

:root[data-theme='purple'] {
    --background: #f5f3ff;
    --text: #4c1d95;
    --primary: #8b5cf6;
    /* Tailwind's purple-500 */
    --secondary: #ede9fe;
    /* Tailwind's purple-100 */
    --accent: #7c3aed;
    /* Tailwind's purple-600 */
}

:root[data-theme='pink'] {
    --background: #fdf2f8;
    --text: #831843;
    --primary: #ec4899;
    /* Tailwind's pink-500 */
    --secondary: #fce7f3;
    /* Tailwind's pink-100 */
    --accent: #db2777;
    /* Tailwind's pink-600 */
}

:root[data-theme='green'] {
    --background: #ecfdf5;
    --text: #064e3b;
    --primary: #10b981;
    /* Tailwind's green-500 */
    --secondary: #d1fae5;
    /* Tailwind's green-100 */
    --accent: #059669;
    /* Tailwind's green-600 */
}

:root[data-theme='blue'] {
    --background: #eff6ff;
    --text: #1e40af;
    --primary: #3b82f6;
    /* Tailwind's blue-500 */
    --secondary: #dbeafe;
    /* Tailwind's blue-100 */
    --accent: #2563eb;
    /* Tailwind's blue-600 */
}

* {
    transition: background-color 0.3s, color 0.3s;
}

body {
    background-color: var(--background);
    color: var(--text);
}

[data-intent="primary"]:focus {
    border-color: #3b82f6 !important;
}

[data-intent="secondary"]:focus {
    border-color: #9ca3af !important;
}

[data-intent="destructive"]:focus {
    border-color: #ef4444 !important;
}

[data-intent="ghost"]:focus {
    border-color: #e5e5e5 !important;
}
